main {
  /* padding: 50px 4%; */
  padding: 0;
}

.content {
  padding: 4%;
  padding-bottom: 0;
}

div.nav-outlinks {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 1em;
  /* display: -webkit-box; */
  /* display: -moz-box; */
  /* display: -webkit-flex; */
  display: flex;
}

footer div.nav-outlinks a {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 2em;
}

.inline-icon-container svg {
  vertical-align: middle;
  fill: #fff;
  width: 1rem;
  height: 1rem;
}


.heading-text {
  line-height: initial;
}

ul {
  li {
    padding: unset;
  }
}

.flag {
  height: 1.3em;
  position: relative;
  top: 0.35em;
}


.service.splash {
  background: red;
  width: 100%;
  height: 2em;
}

.service {
  background: green;
  width: 40%;
}

a.more {
  color: var(--secondary-text-color);
  background: var(--primary-color);
  padding: 0 1em;
  border-radius: 1em;

}

a.more:hover {
  background: var(--primary-link-color);
  /* background: red; */
  text-decoration: none;
}

.code {
  pre {
    border-radius: 1em;
  }
}

ul {
  list-style: none;
}

li.blog {
  margin-bottom: 1.5em;
  cursor: pointer;
}

.article-body {
  padding: 0;
}